html {
	font-family: Quicksand;
	
	ul {
		list-style: none;
	    margin: 0;
    	padding: 0;
	}

	@mixin clearfix {
	  &:after {
	    content: "";
	    display: table;
	    clear: both;
	  }
	}
	
	.container {
		max-width: 1140px;
	    margin-right: auto;
	    margin-left: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	    width: 100%;
	    box-sizing: border-box;
	}

	.header {
		background: black;
		
		nav {
			color: silver;
			
			ul {
				@include clearfix;
				
				li {
					float: left;
					padding: 10px;
					cursor: pointer;
					-webkit-transition-duration: 0.25s; 
					-moz-transition-duration: 0.25s; 
					-ms-transition-duration: 0.25s; 
					-o-transition-duration: 0.25s; 
					transition-duration: 0.25s; 
					
					&:hover {
						color: red;
					}
				}
			}
		}
	}

	main {
		margin-top: 20px;
		
		.full_page {
		    background: #d8cece;
		    position: fixed;
		    top: 0;
		    width: 100%;
		    height: 100vh;
		    left: 0;
		    opacity: 0;
		    visibility: hidden;
		    -webkit-transition-duration: 0.5s;
		       -moz-transition-duration: 0.5s;
		        -ms-transition-duration: 0.5s;
		         -o-transition-duration: 0.5s;
		            transition-duration: 0.5s;
		    -webkit-transform: translate(0,50%);
		       -moz-transform: translate(0,50%);
		        -ms-transform: translate(0,50%);
		         -o-transform: translate(0,50%);
		            transform: translate(0,50%);
		    
		    &.active {
	    	 	opacity: 1;
		    	visibility: visible;
		    	-webkit-transform: translate(0);
		    	   -moz-transform: translate(0);
		    	    -ms-transform: translate(0);
		    	     -o-transform: translate(0);
		    	        transform: translate(0);
		    }
		}
		
		.all_restaurant_wrapper {
			margin-bottom: 20px;
		}
		
		.filter_wrapper {
			margin-bottom: 20px;
			
			.filter {
			    width: 100%;
			    height: 40px;
			    border: 1px solid #c58181;
			}
		}

		.restaurants {
			@include clearfix;
			
			.restaurant {
				float: left;
				width: 30%;
			    height: 370px;
				border: 1px solid #EEEEEE;
				vertical-align: top; 
				box-sizing: border-box;
				margin-right: 5%;
				margin-bottom: 20px;
				
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
}
